<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
</script>

<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button></button>
            <ul>
                 
              
                 <img class="card-img-top" src="{{course.image}}" alt="{{course.name}}">

            </ul>
        </div>

        <div class="col-lg-9">
            <h2>{{course.name}}</h2>
            
        <p>Tên tài xế: {{course.ten}} </p>
        <p>Khởi lượng hàng: {{course.klh}} </p>
        <p>Khởi hành lúc: {{course.khl}} </p>
        <p>Khởi hành tại: {{course.kht}} </p>
        <p class="relative">Số người trên xe: {{course.sl}} </p>
        <p class="relative">Vị trí: {{course.vt}} </p1>
        <p class="relative">Nhiệt độ: {{course.nd}}<sup>o</sup>C </p>
        <a style="background-color: white;
                border-radius: 2px; border: 1px solid #3b5998; box-sizing: border-box; color: #3b5998; 
                display: inline-block; font-family: Arial, sans-serif; font-size: 14px; line-height: 1px; 
                margin: 0px 3px 10px; padding: 10px 14px; text-decoration-line: none; transition: all 0.2s; position: relative ;top: -200px; left:460px" 
                href="{{course.slug}}/detail" target="_blank" rel="noopener noreferrer">detail
        </a>

        <style>
            p.relative { position: relative ;top: -160px; left:350px;}
 
        </style>


        </div>
    </div>
    </div>
</div>
        
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.css" />



    <style>
        #map {position: absolute; top: 275px ; left: 300px; width: 1000px; height: 500px;}
    </style>
</head>
<body>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.js" charset="utf-8"></script>

    <div id = "map">
        <div class="leaflet-control coordinate"></div>
    </div>
    <script>
        var map=L.map('map',{zoomDelta: 0.25, zoomSnap: 0}).setView([10.773557,106.65209184], 16);
        L.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=9pcPDEQjvLWQIWNv93DI', {
            attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',  
            crossOrigin: true
        }).addTo(map);

        L.control.locate().addTo(map);
        {{!-- 
            var myGeoJSON = {"type":"FeatureCollection","features":[{"type":"Feature","geometry":{"type":"LineString",
            "coordinates":[[106.6463892,10.77573351],[106.65799244,10.77195828]]},
            "id":"f1eb4c65-7fa8-4c8d-9bf0-8ba3d73c0de7","properties":{"name":"line"}}]}

        L.geoJSON(myGeoJSON).addTo(map) --}}
   
    var marker = L.marker([{{course.vt}}]).addTo(map);
    
    var circle = L.circle([10.773557,106.65209184], {
        color: '#D8BFD8',
        fillColor: '#E6E6FA',
        fillOpacity: '0.1',
        radius: 700
    }).addTo(map)

    marker.bindPopup("<b> {{course.name}} </b><br>Nhiệt độ hiện tại: {{course.nd}}").openPopup();

    map.on('mouseover', function(){
        console.log('your mouse is over the map')
    })
    map.on('mousemove', function(e){
        document.getElementsByClassName('coordinate')[0].innerHTML = 'lat: ' + e.latlng.lat + ',' + 'lng: ' + e.latlng.lng;
        console.log('lat: ' + e.latlng.lat, 'lng: ' + e.latlng.lng)
    })

    </script>
    
</body>

<meta http-equiv="refresh" content="10" />

   
